<footer class="container-fluid container-footer">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <a href="{{ site.baseurl }}" class="logo">{{ site.title }}</a>
        <br />
        <span class="copyright"><span class="fa fa-copyright"></span> {{ site.time | date: "%Y" }} Cameron Stanley. All rights reserved.</span>
      </p>
    </div>
    <div class="col-sm-6">
      <ul class="list-inline">
        <li>
          <a href="mailto:{{ site.email }}" class="btn btn-xs btn-primary">
            <span class="fa fa-envelope"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/{{ site.github_username }}" target="_blank" class="btn btn-xs btn-primary">
            <span class="fa fa-github"></span>
          </a>
        </li>
        <li>
          <a href="https://news.ycombinator.com/user?id={{ site.hacker_news_username }}" target="_blank" class="btn btn-xs btn-primary">
            <span class="fa fa-hacker-news"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="btn btn-xs btn-primary">
            <span class="fa fa-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="btn btn-xs btn-primary">
            <span class="fa fa-linkedin"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
