.container-about {
  font-family: 'Arimo', sans-serif;
  padding: 80px 20px;
  background-color: #fff;

  h3 {
    color: $primary-color;
    font-size: 3rem;
  }

  p {
    color: #777;
    font-size: 1.75rem;
    text-align: justify;
  }
}
