.container-landing {
  background-color: $primary-color;
  display: block;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.container-landing-avatar {
  height: 320px;
  width: 320px;
}

.container-landing-title {
  color: #FFF;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
}

.container-landing-tagline {
  color: #CAE7FF;
  font-family: 'Arimo', sans-serif;
  font-size: 2.5rem;
  margin-top: 10px;
}
