.navbar.navbar-inverse {
  padding: 0 20px;
}

a.navbar-logo {
  font-family: 'Lobster', cursive;
}

.navbar.navbar-inverse {
  padding: 0 20px;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-size: 3rem;
}

.navbar-inverse a.navbar-brand:hover {
  color: $secondary-color;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 2rem;
  font-family: 'Arimo', sans-serif;

  .fa {
    color: #FFF;
  }
}



.navbar-inverse a.navbar-brand {
  color: #FFF;
  font-size: 3rem;

  &:hover {
    color: $secondary-color;
  }
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 2rem;
  font-family: 'Arimo', sans-serif;

  .fa {
    color: #FFF;
  }
}
