$link-color: $tertiary-color;
$link-hover-color: $secondary-color;
$link-hover-decoration: none;
$btn-primary-bg: $primary-color;
$navbar-height: 80px;
$navbar-inverse-bg: $primary-color;
$navbar-inverse-color: $secondary-color;
$navbar-inverse-border: $primary-color;
$navbar-inverse-link-color: $secondary-color;
$navbar-inverse-link-hover-color: $tertiary-color;
$navbar-inverse-toggle-hover-bg: $quaternary-color;
$navbar-inverse-toggle-border-color: transparent;
