$navbar-height: 80px;
$navbar-inverse-bg: $primary-color;
$navbar-inverse-color: $secondary-color;
$navbar-inverse-border: $primary-color;
$navbar-inverse-link-color: $secondary-color;
$navbar-inverse-link-hover-color: $tertiary-color;
