.page-header {
  h2 {
    font-size: 3rem;
    font-weight: 800;
    color: $quaternary-color;
  }

  .breadcrumb {
    float: none;
    background-color: #FFF;
  }

  @media (max-width: $screen-sm-min) {
    .breadcrumb {
      float: none;
    }
  }
}
