body {
  padding-top: 80px;
  font-family: 'Arimo', sans-serif;
  background-color: $quaternary-color;
}

.container-content {
  font-family: 'Arimo', sans-serif;
  padding: 80px 35px;
  background-color: #fff;

  h3 {
    color: $primary-color;
    font-size: 3rem;
  }

  p {
    color: #777;
    font-size: 2.5rem;
    text-align: justify;
  }
}


.page-header h3 {
  font-size: 2.5rem;
  color: $quaternary-color;
}
