---
layout:   default
comments: true
---
<div class="container-fluid container-content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <ol class="pull-right breadcrumb">
          <li><a href="/blog"><span class="fa fa-book"></span> Blog</a></li>
          <li class="active">{{ page.title }}</li>
        </ol>
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
  </div>
  <div class="post-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="post-meta">
          <span class="fa fa-calendar"></span>
          {{ page.date | date: "%b %-d, %Y" }}
          {% if page.tags.size > 0 %}
            <span class="pull-right">
              {% for tag in page.tags %}
                <span class="label label-primary">{{ tag }}</span>
              {% endfor %}
            </span>
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr />
      {% include comments.html %} 
    </div>
  </div>
</div>
